.riskClear{
	background-color: white;

}
.riskGreen{
	background-color: #C2E6C2;
}
.riskYellow{
	background-color: #FFFFB2;
}
.riskRed{
	background-color: #EACCCC;
}

.readonly{
	background-color: #F7F7F7;
	}
.readonlyNoDataEntry{
	background-color: #EBEBE4;
	}
@media print {

	html, body { height: auto; }
	ul.tabbernav {
	border-bottom:none;
	}
	.tabberlive .tabbertab {

  	border: none;

	}

	#mcPage_001{
  	page-break-after: avoid;
  	width: 100%;
	}

}

